.gameRoot {
  background-color: #00ACD5;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 120vh;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.inkeeLogo {
  float: left;
  max-width: fit-content;
  content: url(../../assets/inkee-logo.png);
  width: 12rem;
  height: 3rem;
}

.topContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.formTwo {
  margin: auto;
  display: grid;
  margin-top: 5rem;
  justify-content: center;
  outline: #000000;
}

.score {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 90px;
  color: white;
  text-shadow:
		-3px -3px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
		3px 3px 0 #000;
}

.word {
  padding-left: 1rem;
  background-color: Transparent;
  border: none;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.wordSelector {
  display:inline-block;
  max-width: fit-content;
}

.wordButton {
  padding-left: 1rem;
  background-color: Transparent;
  border: none;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.wordButton:hover {
  color: #fff;
}

.time {
  float: right;
  max-width: fit-content;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: white;
  border: .45rem solid #000000;
  box-sizing: border-box;
  max-width: fit-content;
}

.middleContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  max-height: 30rem;
}

.profiles {
  margin-top: 1rem;
  float:left;
  width: 14rem;
  height: 30rem;
  margin-left: 7.5%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.profilesTwo {
  margin-top: 1rem;
  float:middle;
  width: 15rem;
  height: 30rem;
  margin-left: 24%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}


.userProfile {
  margin-bottom: .5rem;
  border: .5rem solid black;
  width: inherit;
  height: 3rem;
  background-color: white;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.userProfileTwo {
  margin-left: 45%;
  margin-bottom: .5rem;
  border: .5rem solid black;
  width: inherit;
  height: 3rem;
  background-color: white;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.removePlayer {
  font-size: 2rem;
  font-family: Arial;
  font-weight: bold;
  color: red;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-color: white;
  border: none;
}

.userText {
  flex: 1 1 auto;
}

.avatar {
  width: 6rem;
  height: 3rem;
}

/* Chat Features */
.chat {
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 1rem;
  float:left;
  border: .5rem solid black;
  width: 15rem;
  height: 30rem;
  background-color: white;
}

.chat p:nth-of-type(2n) {
  background-color: rgba(207, 204, 204, 0.973);
}

.correctAnswer {
  color: #24ce0e;
  background-color: #d1e7dd !important;
  border-color: #badbcc;
}

.closeAnswer {
  color: #df7513;
  background-color: #fff3cd !important;
  border-color: #ffecb5;
}

.guessedMessage {
  color: #b3ff00;
  background-color: #cbffbb !important;
  border-color: #deff90;
}

.serverMessage {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 118, 243) !important;
  border-color: #9da7e6;
}

.wordReveal {
  color: #ffffff;
  background-color: #003380 !important;
  border-color: #dbd3ba;
}

.endGameMsg {
  color: #ffffff;
  background-color: #fc9a06 !important;
  border-color: #ffffff;
}

.middleContainer img {
  width: 20%;
  float:left; 
}

.drawArea {
  margin-top: 1rem;
  float:left;
  cursor: crosshair;
  border: .5rem solid black;
  width: 40rem;
  height: 30rem;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.path {
  fill: none;
  stroke-width: 4px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.pathRed {
  fill: none;
  stroke-width: 4px;
  stroke: red;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}

.bottomContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  max-height: 30rem;
}

.sendMessage {
  float: middle;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5rem;
}

.drawingTools {
  flex-direction: row;
}

.sendMessage input {
  background-color: white;
  font-size:2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 39.7rem;
  height: 3rem;
  border: .45rem solid #000000;
  outline: none;
}

.slider {
  -webkit-appearance: none;
  width: 20%;
  height: 15px;
  background: white;
  outline: none;
  border: 6px solid black;
  margin-top: .5rem;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 30px;
  background: white;
  cursor: pointer;
  border: 3px solid black;
}

.limeSplat {
  background-image: url(../../assets/lime-splat.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 20rem 19rem;
  margin: 1rem 1rem 1rem 1rem;
  max-width: 100%;
}

.purpleSplatTwo {
  background-image: url(../../assets/purple-splat.png);
  background-position: left;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 30rem 25rem;
  width: 100%;
  height: 100%;
}

.color {
  width: 3rem;
  height: 3rem;
  border: .40rem solid #000000;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

.color:hover {
  background-color: #000000;
  outline: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.color:nth-child(1) { background-color: blue; }
.color:nth-child(2) { background-color: red; }
.color:nth-child(3) { background-color: green; }
.color:nth-child(4) { background-color: yellow; }
.color:nth-child(5) { background-color: pink; }
.color:nth-child(6) { background-color: orange; }
.color:nth-child(7) { background-color: purple; }
.color:nth-child(8) { background-color: brown; }
.color:nth-child(9) { background-color: black; }
.color:nth-child(10) { background-color: white; }
