.gameRoot {
  background-color: #00ACD5;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-height: 115vh;
}

.inkeeLogo {
  background-image: url(../../assets/inkee-logo.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 20rem 6rem;
  width: 100%;
  height: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.topContainer {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

.word {
  display:inline-block;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  max-width: fit-content;
  margin-right: -17%;
}

.time {
  float:right;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: white;
  border: .45rem solid #000000;
  box-sizing: border-box;
  max-width: fit-content;
  margin-right: 7%;
}

.middleContainer {
  border-style: dotted;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

.profiles {
  border-style: dotted;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-direction: column;
}


.middleContainer img {
  width: 20%;
  float:left; 
}

.bottomContainer {
  border-style: dotted;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bottomContainer input {
  background-color: white;
  font-size:2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  width: 40rem;
  height: 3rem;
  border: .45rem solid #000000;
  margin: 0rem 1rem 0rem 1rem;
  outline: none;
}

.limeSplat {
  background-image: url(../../assets/lime-splat.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 20rem 19rem;
  margin: 1rem 1rem 1rem 1rem;
  max-width: 100%;
}

.purpleSplatTwo {
  background-image: url(../../assets/purple-splat.png);
  background-position: left;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 30rem 25rem;
  width: 100%;
  height: 100%;
}

.drawArea {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  float: left;
  cursor: crosshair;
  border: .5rem solid black;
  width: 24rem;
  height: 15rem;
  background-color: white;
}

.path {
  fill: none;
  stroke-width: 4px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}